.navbar-default.navbar {
    border: 0;
    background-color: #2D3E50;
    border-radius: 0;
    padding: 20px 0;
    margin-bottom: 0;
}

.navbar-default .navbar-brand {
    font-size: 22px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #ddd;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

main {
    padding-top: 90px;
}

.jumbotron {
    background-color: #1BBC9B;
    color: white;
    margin-bottom: 0;
    padding: 100px 0;
}

.jumbotron img {
    height: 200px;
}

.jumbotron h1 {
    font-weight: bold;
}

.separatore {
    width: 250px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

.separatore::before,
.separatore::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc((100% - 60px) / 2);
    height: 3px;
    background-color: white;
}

.separatore::before {
    left: 0;
}

.separatore::after {
    right: 0;
}

#images {
    color: black;
    padding: 50px 0;
}

#images .separatore::before,
#images .separatore::after {
    background-color: black;
}

 .h2 {
    font-weight: bold;
    font-size: 40px;
}

#images img {
    max-width: 100%;
}

[class*="col-"] {
    margin-bottom: 30px;
}

#features {
    background-color: #1BBC9B;
    color: white;
    padding: 70px 0;
}

#features .row p {
    font-size: 20px;
}

#features .btn {
    font-size: 21px;
    padding: 15px 25px;
    border: 2px solid white;
    border-radius: 8px;
    background-color: #1BBC9B;
    color: white;
}

#features .btn:hover {
    background-color: white;
    color: black;
}
 #features .fa-download {
     margin-right: 15px;
 }
